.contact-page-container{
    // background-color: rgb(128, 128, 255);
    background-color: rgb(34, 34, 151);
    header{
        text-align: center;
        color: gainsboro;
        .add-new{
            color: gainsboro;
            font-size: 120%;
        }
    }
}