
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

div.grid-container{
  display: grid;
  height: 100vh;
  /* grid-template-columns: minmax(150px, 400px) 1fr; */
  grid-template-columns: 150px 1fr;
}
main.container{
  background-color: rgb(34, 34, 151);
  color: gainsboro;
}
